{% extends 'shared/base.html' %}

{% block content %}
    <h1>Add New Computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
      </fieldset>
      <fieldset>
          <label for="model">Model: </label>
          <input id="model" type="text" name="model">
      </fieldset>
      <fieldset>
          <label for="purchase_date">Date of purchase: </label>
          <input id="purchase_date" type="number" name="purchase_date">
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
   {% endblock %}