{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>Add Employee</h1>


    <form action="{% url 'hrapp:employees' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="first_name">First: </label>
          <input id="first_name" type="text" name="first_name">
      </fieldset>
      <fieldset>
          <label for="last_name">Last: </label>
          <input id="last_name" type="text" name="last_name">
      </fieldset>
      <fieldset>
          <label for="start_date">Start date: </label>
          <input id="start_date" type="number" name="start_date">
      </fieldset>
      {% comment %} <fieldset>
          <label for="isbn">Supervisor?: </label>
          <input id="isbn" type="text" name="isbn">
      </fieldset> {% endcomment %}
      {% comment %} <fieldset>
          <label for="location">Library: </label>
          <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                    <option value="{{ library.id }}">{{ library.title }}</option>
                {% endfor %}
          </select>
      </fieldset> {% endcomment %}

      <input type="submit" value="Add It" />
    </form>
  </body>
</html>