{%  extends 'shared/base.html' %}



{% block content %}
<h1>Departments</h1>
 <form action="department" method="POST">
            {% csrf_token %}
                <a href="{% url 'hrapp:department_form' %}">Add Departments</a>
</form>

<ol>
{% for department in departments %}
    <li>
       <p> Department: {{ department.dept_name }} </p>
        Budget: {{ department.dept_budget }}
       <p> Employees Assigned: {{ department.assiged_employee }} </p>
        
    </li>
{% endfor %}
</ol>
{% endblock content %}